
#converter {
    border-left: 6px solid grey;
    margin: auto;
    margin-top: 10%;
    max-width: 230px;

}

.header {
    font-size: 1.5em;
    font-family: tahoma, sans-serif;
    text-align: center;
}

.text {
    font-family: tahoma, sans-serif;
    margin-left: 14%;
}

#nav ul li {
    display: inline;
}

button {
    min-width: 85px;
    padding: 5px 0 5px 0;
    margin: 5px 2px 5px 2px;
    background-color: green;
    border: none;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    font-family: impact, sans-serif;
}

input, select {
    width: 90%;
}

.input-area {
    margin-left: 40px;
}

#converter-top {
    background: white;
    position: relative;
    z-index: 5;
}

.converter {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fade-enter-active  {
    animation: slide .5s;
}

.fade-leave-active {
    animation: slide .5s reverse;
}

@keyframes slide {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}