
#converter {
    border-left: 6px solid grey;
    margin: auto;
    margin-top: 21%;
    max-width: 230px;

}

.header {
    font-size: 1.5em;
    font-family: tahoma, sans-serif;
    text-align: center;
}

.text {
    font-family: tahoma, sans-serif;
    margin-left: 14%;
}

#nav ul li {
    display: inline;
}

button {
    min-width: 73px;
    padding: 5px 0 5px 0;
    margin: 2px 0 2px 0;
}

#converter-top {
    background: white;
    position: relative;
    z-index: 5;
}

.converter {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fade-enter-active  {
    animation: slide .5s;
}

.fade-leave-active {
    animation: slide .5s reverse;
}

@keyframes slide {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}